<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
<form action="/login" method="post">
    <div>
        <label for="text">Username </label>
        <input type="text" name="user_name" id="user_name" required>
    </div>
    <div class>
        <label for="text">Password </label>
        <input type="text" name="password" id="password" required>
    </div>
    <div>
        <input type="submit" value="Enter!">
    </div>
</form>

</body>
</html>