

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
<h3>What have you eaten on <%=page_date%>?</h3>
<form action="/enter_food/<%=page_date%>" method="post">
    <div class="form-example">
        <label for="text">Enter what you ate </label>
        <input type="text" name="food" id="food" required>
    </div>
    <div class="form-example">
        <label for="text">Enter calories </label>
        <input type="text" name="calories" id="calories" required>
    </div>
    <div class="form-example">
        <input type="submit" value="Enter!">
    </div>
</form>

</body>
</html>