<html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
<form action="/update_food" method="post">
    <h3>Change Food Calories</h3>
    <div class="form">
        <input type="hidden" name="key" value="<%=food_key %>">
        <label for="text">Enter calories </label>
        <input type="text" name="calories" id="calories" required>
    </div>
    <input type="submit"></form>
</form>

</body>
</html>